html {
    color: red;
    background-color: lightgrey;
}

h1 {
    color: green;
}

p.black {
    color: white;
    background: black;
    font-size: 26px;
}

p {
    color: blue;
    background: orange;
}

.weight {
    height: 400px;
    width: 400px;
}

h2 {
    color:purple;
    background:black;
    font:30px;
}   

p.favorite-food {
    color:green;
    background:brown;
    font:30px;

    height:50px;
    width:100;
}

p.favorite-car {
   color:blue; 
   background:brown;
   font:30px;

   height:50px;
   width:100%;

}