html {
    color: red;
    background-color: lightgrey;
}

h1 {
    color: green;
}

p.black {
    color: white;
    background: black;
    
}

p {
    color: blue;
    background: orange;
}

.weight {
    height: 400px;
    width: 400px;
}